<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action='/crud'>
        <input type="hidden" name="method" value="patch">
        <input type="hidden" name="id" value="<%= id %>">
        <table>
            <tr>
                <td><label for="url">Site URL:</label></td>
                <td><input type="text" name="siteURL" value="<%= site.siteURL %>" id="url" disabled></td>
            </tr>
            <tr>
                <td><label for="siteId">Site ID:</label></td>
                <td><input type="text" name="siteId" value="<%= site.siteId %>" id="siteId"></td>
            </tr>
            <tr>
                <td><label for="pw">Site Password:</label></td>
                <td><input type="text" name="password" value="<%= site.password %>" id="pw"></td>
            </tr>
        </table>
        <button type="submit" value="">Update</button>
    </form>
</body>
</html>