<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Welcome <%= user.dataValues.username %></p>

    <form>
        <% if(site.length == 0) { %>
        <a href="/newSite">Add New Sites</a>
        <% } else{ 
            console.log(site);%>
            <p>HI</p>
        <% } %>
        <table>
                
        </table>
    </form>
</body>
</html>